<router-outlet></router-outlet>

<tarjetas     nombre="Amaury Mateo 1"
              titulo="Estudiante 1"
              bio="Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus, dicta quia. Ea molestias omnis deleniti iusto tempore laborum quaerat delectus itaque ut fuga suscipit amet, rem repellendus a facilis eveniet?"
></tarjetas>

<tarjetas></tarjetas>
<tarjetas></tarjetas>

<tarjetas    nombre="Amaury Mateo 1"
titulo="Estudiante 1"
bio="Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus, dicta quia. Ea molestias omnis deleniti iusto tempore laborum quaerat delectus itaque ut fuga suscipit amet, rem repellendus a facilis eveniet?"
></tarjetas>

<tarjetas></tarjetas>
